body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #e31f2b;
    margin: 0px;
}

.box{
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 50px;
    max-width: 100%;
    margin: 100px;
    margin-top: 150px;
    border-bottom: 1px dashed #000;
    width: 150px;
    height: 150px;
}

.button{
    background-color: white;
    width: 150px;
    height: 70px;
    font-size: 25px;
    border: 4px outset #f4f4f4;
    cursor: pointer;
}