body {
    background-color: white;
    color:black;
    height: 100vh;
}

.mconteiner {
    display:flex;
    flex-flow: column;
    min-height: min-content; /* needs vendor prefixes */
}

.menus {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.moption {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    width: 95%;
    padding: 10px 5px 10px 15px;
}

.highlights {
    display: flex;
    flex-flow: row;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.hitem {
    flex: 1 1 auto;
}

.opt-info {
    flex: 1 1 auto;
    width: 70%;
}

.opt-img {
    flex: 1 1 auto;
    padding: 0px;
}

.oimg {
    width: 114.5px;
    height: 99px;
    padding-left: 10px;
    padding-top: 25px;
}

.item-name {
    font-size: 17.5px;
}

.item-description {
    font-size: 10px;
    color:dimgray;
}

.item-price {
    margin-top: 7.5px;
    font-size: 17.5px;
}

.item-divider {
    width: 100%;
    border-top: 2.5px solid #E0E0E0;
}

.menu-title {
    padding-left: 15px;
    background-color: #e31f2b;
    color: white;
    margin: 0;
    margin-top: 5px;
    padding: 2.5px 0px 2.5px 15px;
    text-transform: uppercase;
}

.pagethingie {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}


.box {
    flex: 1;
    display: flex;
    overflow: auto;
}

.toc {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    height: min-content;
    background-color: #B61621;
    color: white;
}

.toc-item {
    flex: 0 0 auto;
    height: fit-content;
    width: max-content;
    box-sizing: border-box;
    background-color: #A3141E;
    padding: 10px 10px 10px 10px;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
}