.button-back {
    flex: 0 0 auto;
    width:fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    flex-flow: row;
    border-radius: 100px;
    border-width: 2.25px;
    border-color: white;
    border-style: solid;
    margin: 3px;
    padding: 3px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 0.5px;
}

.location{
    width:max-content;
    position: relative;
    display:flex;
    flex: 1 1 auto;
    flex-flow: row;
    border-radius: 10px;
    border-width: 1.5px;
    border-color: white;
    border-style: solid;
    margin: 2.5px;
    padding: 2.5px;
}

.back {
    display:flex;
    flex-flow: row;
    margin-bottom: 3px;
}

.ltext {
    position: relative;
    flex: 1 1 auto;
    margin: none;
    margin-left: 7px;
}

.option{
    flex: 1 1 auto;
    margin: 30px;
    width: 90%;
    position: relative;
    display: flex;
    flex-flow: row;
}

.symbol{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.option-text{
    position: relative;
    display: flex;
    flex-flow: column;
}

.option-title{
    flex: 1 1 auto;
    position: relative;
    margin: none;
    margin-top: 11px;
}

.option-description{
    flex: 1 1 auto;
    font-size: 13px;
    position: relative;
    margin-top: -10px;
}

#img {
    filter: brightness(0) invert(1);
}